@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    /* background-color: #231F20; */
}
img{
    width: 100%;
}

.main{
 min-height: 100vh;
 background: url(/images/Untitled-1111111111-01.png) no-repeat;
 background-size: cover
 
}
.logo{
    width: 50px;
}
.navbar-nav a{
    color: #ccc !important;
    font-weight: 900 !important;
    position: relative;
    font-size: 1.3rem;
    
}
.navbar-nav li{
    margin-left: 0.3rem;
}
.navbar-nav a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: #ccc;
    transition: all 0.7s ease !important
}
.navbar-nav a:hover::before{
    width: 80%;
}
.hello{
    color: #ccc;
    margin-top: 6% !important;

}
.myname{
    color: rgb(221, 221, 221);
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 3px #ccc;
    letter-spacing: 0.2rem;
}
.animated-text{
    height: 70px;
    overflow: hidden;
}
.animated-text h3{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    /* text-transform: uppercase; */
    color: rgb(139, 180, 190);
    line-height: 4rem;
}
.animated-text h3:nth-child(1){
    animation: move 10s infinite;
}
.wrapper-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 32px 0 0 60px;
    /* outline: darkcyan solid; */
}
.have-idea{
    color: rgb(133, 132, 132);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.lets-talk{
    color: #ccc;
    background-color: rgb(2, 112, 112);
    font-size: 25px;
    font-weight: 900;
    padding: 8px 37px;
    border-radius: 6px;
    font-family: cursive;
    outline: solid rgb(2, 112, 112) 3px;
    transition: 0.5s ease;
}
.lets-talk .none-block{
    animation: on-off 3s  infinite;
    font-size: 32px;
    line-height:11px;
}
.lets-talk:hover{
    text-decoration: none;
    color: rgb(2, 112, 112);
    background: none;

}
.media-icons a:hover{
    text-decoration: none;
    
}
.media-icons .fab{
    margin: 20px 7px;
    color: rgb(133, 132, 132);
    transition: 0.5s ease;
}
.media-icons .fab:hover{
    color: rgb(2, 112, 112);
}
@keyframes on-off{
   0%{
       opacity: 100%;
   }
   25%{
       opacity: 10%
   }
   50%{
       opacity: 100%;
   }
   75%{
       opacity: 10%;
   }
   100%{
       opacity: 100%;
   }
}

@keyframes move{
    0%{
        margin-top: 0;
    }
    20%{
        margin-top: -70px;
    }
    40%{
        margin-top: -140px;
    }
    60%{
        margin-top: -210px;
    }
    80%{
        margin-top: -140px;
    }
    100%{
        margin-top: -70px;
    }
}
 /* ---------------main end -------------  */


